@import '../../scss/main.scss';

label.checkbox {
	background-color: #00494d;
    color: #fff;
    padding: 0.4rem;
    text-align: center;
    width: calc(100% / 3.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    margin-bottom: 0.5rem;
	height: 45px;

	&.active {
		background-color: $strongCyan;
		color: $darkCyan;

		&:hover {
			background-color: $strongCyan;
			color: $darkCyan;
		}
	}

	&:hover {
		color: $darkCyan;
		background-color: $hover;
	}

	input {
		display: none;
	}
}