// Primary
$strongCyan: hsl(172, 67%, 45%);

// Neutral
$darkCyan: hsl(183, 100%, 15%);
$grayCyan: hsl(186, 14%, 43%);
$grayCyan2: hsl(184, 14%, 56%);
$lightCyan: hsl(185, 41%, 84%);
$lightCyan2: hsl(189, 41%, 97%);

$hover: #9ee8df;